<li id="post-<%= post.id %>">

  <strong class="content"><%= post.title %></strong> </br>
  <span class="content"><%= post.content %></span></br>
  <span class="category"> Category : <%= link_to post.category.name,
  post.category %></span></br>

  <span class="timestamp">
  Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
